page-login {
	h1{
		padding: 5%;
		font-size: 50px;
		text-align: center;
		font-color: darkgray;
	}
	.center{
		align-self: center;
		padding: 10px 0px 0 10px;
	}
	.rec{
		padding: 0px 0 5px 10px;
	}
	.recuerdame{
		line-height: center;
		text-align: left;
		font-size: 15px;
		font-color: color($colors, 'lightG');;

	}
}

