page-login {
	$colors: (
	  primary:    #488aff,
	  secondary:  #32db64,
	  danger:     #f53d3d,
	  light:      #f4f4f4,
	  dark:       #222,
	  twitter: (
	    base: #55acee,
	    contrast: #ffffff
	  )
	);
	my-component {
  		background: color($colors, twitter, base);
	}
	h1{
		padding: 0 0 5% 0;
		text-align: center;
	}
	h3{
		text-align: justify;
	}
	
	/*.center{
		color: #222;
		padding: 20%;
	}*/
}

