page-register {
	h1{
		padding: 5%;
		font-size: 50px;
		text-align: center;
		font-color: darkgray;
	}
	h3{
		text-align: justify;
	}
	
	.back {
		background-color: darkblue;
	}
	.center{
		background-color: white;
		color: #222;
	}
}
