page-profile {

	.pleaseFit {
		padding: 0;
		margin: 0;
		width: 300px;
	}

	.available {
		background: color($colors, 'blueG');
	}

	.col {
		border: think solid color($colors, 'mediumG');
	}
	.imag {
	  border-radius: 100%;
	}
/*	.col{
background: gray;
border: think solid black;
}*/

}
