page-home {
	ion-item h2 {
		width: auto;
	}

	ion-note {
	    font-size: 80%;
	    align-self: flex-start;
	    margin-top: 14px;
	 	}

	ion-scroll {
		height: 200px;
	}

	.space {
		border-style: none;
	}

}
